@model ChargerViewModel

@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
	<h1 class="display-4" style="text-decoration: underline; font-weight: bold">Admin Panel</h1>

	<p><a style="color: snow"  asp-controller="Charger" asp-action="GetAddChargerRequest">Add New Charger</a></p>

	<div class="text-center">

		<div class="charger-container">
			@{
				foreach (var charger in Model.Chargers)
				{
					<div data-aos="zoom-in" class="charger-card">
						<h3>@charger.Name</h3>
						<!--<a asp-controller="Charger" asp-action="GetChargerAsync" asp-route-id="@charger.ChargerId"><h3>@charger.Name</h3></a>-->
						<p><a style="color: black" asp-controller="Charger" asp-action="EditCharger" asp-route-id="@charger.ChargerId">Edit</a></p>
						<p><a style="color: black" asp-controller="Charger" asp-action="DeleteCharger" asp-route-id="@charger.ChargerId">Delete</a></p>
						<p>$@charger.HourlyRate per hour</p>
						<p>@charger.Description</p>
					</div>

					<!--<a asp-controller="Charger" asp-action="GetChargerAsync" asp-route-id="@charger.ChargerId">
					</a>-->
					<div data-aos="zoom-in" class="road-container">
						<div class="lane"></div>
						<div class="middle-line"></div>
						<div class="lane"></div>
					</div>
				}
			}
		</div>
	</div>
</div>